/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities"; */
@import "tailwindcss";
:root {
  font-family: "Vazirmatn", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-feature-settings: "ss01";
  background-color: #305782;
  background: linear-gradient(0deg, #acd8e8, transparent);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
} */
/* حذف فلش‌های input number در همه مرورگرها */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield; /* برای فایرفاکس */
  appearance: textfield;
}
.no-farsi-numbers {
  font-feature-settings: "ss01" off;
}
.rmdp-ep-arrow.bg-dark {
  z-index: 100 !important;
}
.rmdp-ep-arrow.bg-dark::after {
  background-color: #8798ad !important;
  z-index: 100 !important;
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.scroll-thin {
  scrollbar-width: thin;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 10px;

}

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgb(139, 149, 160);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #34758f;
  border-radius: 10px;
}

/*tailwind Theme*/

@layer components {
  /* Base columns (mobile-first) */
  .col-1 {
    flex-basis: 8.3333%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .col-2 {
    flex-basis: 16.6667%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .col-3 {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .col-4 {
    flex-basis: 33.3333%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .col-5 {
    flex-basis: 41.6667%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .col-6 {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .col-7 {
    flex-basis: 58.3333%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .col-8 {
    flex-basis: 66.6667%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .col-9 {
    flex-basis: 75%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .col-10 {
    flex-basis: 83.3333%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .col-11 {
    flex-basis: 91.6667%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .col-12 {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .offset-1 {
    margin-left: 8.3333%;
  }
  .offset-2 {
    margin-left: 16.6667%;
  }
  .offset-3 {
    margin-left: 25%;
  }
  .offset-4 {
    margin-left: 33.3333%;
  }
  .offset-5 {
    margin-left: 41.6667%;
  }
  .offset-6 {
    margin-left: 50%;
  }
  .offset-7 {
    margin-left: 58.3333%;
  }
  .offset-8 {
    margin-left: 66.6667%;
  }
  .offset-9 {
    margin-left: 75%;
  }
  .offset-10 {
    margin-left: 83.3333%;
  }
  .offset-11 {
    margin-left: 91.6667%;
  }
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
  .order-3 {
    order: 3;
  }
  .order-4 {
    order: 4;
  }
  .order-5 {
    order: 5;
  }
  .order-6 {
    order: 6;
  }
  .order-7 {
    order: 7;
  }
  .order-8 {
    order: 8;
  }
  .order-9 {
    order: 9;
  }
  .order-10 {
    order: 10;
  }
  .order-11 {
    order: 11;
  }
  .order-12 {
    order: 12;
  }
  /* sm breakpoint */
  @media (min-width: theme("screens.sm")) {
    .sm\:col-1 {
      flex-basis: 8.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .sm\:col-2 {
      flex-basis: 16.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .sm\:col-3 {
      flex-basis: 25%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .sm\:col-4 {
      flex-basis: 33.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .sm\:col-5 {
      flex-basis: 41.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .sm\:col-6 {
      flex-basis: 50%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .sm\:col-7 {
      flex-basis: 58.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .sm\:col-8 {
      flex-basis: 66.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .sm\:col-9 {
      flex-basis: 75%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .sm\:col-10 {
      flex-basis: 83.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .sm\:col-11 {
      flex-basis: 91.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .sm\:col-12 {
      flex-basis: 100%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .sm\:offset-1 {
      margin-left: 8.3333%;
    }
    .sm\:offset-2 {
      margin-left: 16.6667%;
    }
    .sm\:offset-3 {
      margin-left: 25%;
    }
    .sm\:offset-4 {
      margin-left: 33.3333%;
    }
    .sm\:offset-5 {
      margin-left: 41.6667%;
    }
    .sm\:offset-6 {
      margin-left: 50%;
    }
    .sm\:offset-7 {
      margin-left: 58.3333%;
    }
    .sm\:offset-8 {
      margin-left: 66.6667%;
    }
    .sm\:offset-9 {
      margin-left: 75%;
    }
    .sm\:offset-10 {
      margin-left: 83.3333%;
    }
    .sm\:offset-11 {
      margin-left: 91.6667%;
    }
    .sm\:order-1 {
      order: 1;
    }
    .sm\:order-2 {
      order: 2;
    }
    .sm\:order-3 {
      order: 3;
    }
    .sm\:order-4 {
      order: 4;
    }
    .sm\:order-5 {
      order: 5;
    }
    .sm\:order-6 {
      order: 6;
    }
    .sm\:order-7 {
      order: 7;
    }
    .sm\:order-8 {
      order: 8;
    }
    .sm\:order-9 {
      order: 9;
    }
    .sm\:order-10 {
      order: 10;
    }
    .sm\:order-11 {
      order: 11;
    }
    .sm\:order-12 {
      order: 12;
    }
  }

  /* md breakpoint */
  @media (min-width: theme("screens.md")) {
    .md\:col-1 {
      flex-basis: 8.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .md\:col-2 {
      flex-basis: 16.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .md\:col-3 {
      flex-basis: 25%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .md\:col-4 {
      flex-basis: 33.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .md\:col-5 {
      flex-basis: 41.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .md\:col-6 {
      flex-basis: 50%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .md\:col-7 {
      flex-basis: 58.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .md\:col-8 {
      flex-basis: 66.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .md\:col-9 {
      flex-basis: 75%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .md\:col-10 {
      flex-basis: 83.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .md\:col-11 {
      flex-basis: 91.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .md\:col-12 {
      flex-basis: 100%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .md\:offset-1 {
      margin-left: 8.3333%;
    }
    .md\:offset-2 {
      margin-left: 16.6667%;
    }
    .md\:offset-3 {
      margin-left: 25%;
    }
    .md\:offset-4 {
      margin-left: 33.3333%;
    }
    .md\:offset-5 {
      margin-left: 41.6667%;
    }
    .md\:offset-6 {
      margin-left: 50%;
    }
    .md\:offset-7 {
      margin-left: 58.3333%;
    }
    .md\:offset-8 {
      margin-left: 66.6667%;
    }
    .md\:offset-9 {
      margin-left: 75%;
    }
    .md\:offset-10 {
      margin-left: 83.3333%;
    }
    .md\:offset-11 {
      margin-left: 91.6667%;
    }
  }

  /* lg breakpoint */
  @media (min-width: theme("screens.lg")) {
    .lg\:col-1 {
      flex-basis: 8.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .lg\:col-2 {
      flex-basis: 16.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .lg\:col-3 {
      flex-basis: 25%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .lg\:col-4 {
      flex-basis: 33.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .lg\:col-5 {
      flex-basis: 41.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .lg\:col-6 {
      flex-basis: 50%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .lg\:col-7 {
      flex-basis: 58.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .lg\:col-8 {
      flex-basis: 66.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .lg\:col-9 {
      flex-basis: 75%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .lg\:col-10 {
      flex-basis: 83.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .lg\:col-11 {
      flex-basis: 91.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .lg\:col-12 {
      flex-basis: 100%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .lg\:offset-1 {
      margin-left: 8.3333%;
    }
    .lg\:offset-2 {
      margin-left: 16.6667%;
    }
    .lg\:offset-3 {
      margin-left: 25%;
    }
    .lg\:offset-4 {
      margin-left: 33.3333%;
    }
    .lg\:offset-5 {
      margin-left: 41.6667%;
    }
    .lg\:offset-6 {
      margin-left: 50%;
    }
    .lg\:offset-7 {
      margin-left: 58.3333%;
    }
    .lg\:offset-8 {
      margin-left: 66.6667%;
    }
    .lg\:offset-9 {
      margin-left: 75%;
    }
    .lg\:offset-10 {
      margin-left: 83.3333%;
    }
    .lg\:offset-11 {
      margin-left: 91.6667%;
    }
    .lg\:offset-1 {
      margin-left: 8.3333%;
    }
    .lg\:offset-2 {
      margin-left: 16.6667%;
    }
    .lg\:offset-3 {
      margin-left: 25%;
    }
    .lg\:offset-4 {
      margin-left: 33.3333%;
    }
    .lg\:offset-5 {
      margin-left: 41.6667%;
    }
    .lg\:offset-6 {
      margin-left: 50%;
    }
    .lg\:offset-7 {
      margin-left: 58.3333%;
    }
    .lg\:offset-8 {
      margin-left: 66.6667%;
    }
    .lg\:offset-9 {
      margin-left: 75%;
    }
    .lg\:offset-10 {
      margin-left: 83.3333%;
    }
    .lg\:offset-11 {
      margin-left: 91.6667%;
    }
    .lg\:order-1 {
      order: 1;
    }
    .lg\:order-2 {
      order: 2;
    }
    .lg\:order-3 {
      order: 3;
    }
    .lg\:order-4 {
      order: 4;
    }
    .lg\:order-5 {
      order: 5;
    }
    .lg\:order-6 {
      order: 6;
    }
    .lg\:order-7 {
      order: 7;
    }
    .lg\:order-8 {
      order: 8;
    }
    .lg\:order-9 {
      order: 9;
    }
    .lg\:order-10 {
      order: 10;
    }
    .lg\:order-11 {
      order: 11;
    }
    .lg\:order-12 {
      order: 12;
    }
  }

  /* xl breakpoint */
  @media (min-width: theme("screens.xl")) {
    .xl\:col-1 {
      flex-basis: 8.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .xl\:col-2 {
      flex-basis: 16.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .xl\:col-3 {
      flex-basis: 25%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .xl\:col-4 {
      flex-basis: 33.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .xl\:col-5 {
      flex-basis: 41.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .xl\:col-6 {
      flex-basis: 50%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .xl\:col-7 {
      flex-basis: 58.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .xl\:col-8 {
      flex-basis: 66.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .xl\:col-9 {
      flex-basis: 75%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .xl\:col-10 {
      flex-basis: 83.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .xl\:col-11 {
      flex-basis: 91.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .xl\:col-12 {
      flex-basis: 100%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .xl\:offset-1 {
      margin-left: 8.3333%;
    }
    .xl\:offset-2 {
      margin-left: 16.6667%;
    }
    .xl\:offset-3 {
      margin-left: 25%;
    }
    .xl\:offset-4 {
      margin-left: 33.3333%;
    }
    .xl\:offset-5 {
      margin-left: 41.6667%;
    }
    .xl\:offset-6 {
      margin-left: 50%;
    }
    .xl\:offset-7 {
      margin-left: 58.3333%;
    }
    .xl\:offset-8 {
      margin-left: 66.6667%;
    }
    .xl\:offset-9 {
      margin-left: 75%;
    }
    .xl\:offset-10 {
      margin-left: 83.3333%;
    }
    .xl\:offset-11 {
      margin-left: 91.6667%;
    }
    .xl\:order-1 {
      order: 1;
    }
    .xl\:order-2 {
      order: 2;
    }
    .xl\:order-3 {
      order: 3;
    }
    .xl\:order-4 {
      order: 4;
    }
    .xl\:order-5 {
      order: 5;
    }
    .xl\:order-6 {
      order: 6;
    }
    .xl\:order-7 {
      order: 7;
    }
    .xl\:order-8 {
      order: 8;
    }
    .xl\:order-9 {
      order: 9;
    }
    .xl\:order-10 {
      order: 10;
    }
    .xl\:order-11 {
      order: 11;
    }
    .xl\:order-12 {
      order: 12;
    }
  }

  /* 2xl breakpoint */
  @media (min-width: theme("screens.2xl")) {
    .\32xl\:col-1 {
      flex-basis: 8.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .\32xl\:col-2 {
      flex-basis: 16.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .\32xl\:col-3 {
      flex-basis: 25%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .\32xl\:col-4 {
      flex-basis: 33.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .\32xl\:col-5 {
      flex-basis: 41.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .\32xl\:col-6 {
      flex-basis: 50%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .\32xl\:col-7 {
      flex-basis: 58.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .\32xl\:col-8 {
      flex-basis: 66.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .\32xl\:col-9 {
      flex-basis: 75%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .\32xl\:col-10 {
      flex-basis: 83.3333%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .\32xl\:col-11 {
      flex-basis: 91.6667%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .\32xl\:col-12 {
      flex-basis: 100%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .\32xl\:offset-1 {
      margin-left: 8.3333%;
    }
    .\32xl\:offset-2 {
      margin-left: 16.6667%;
    }
    .\32xl\:offset-3 {
      margin-left: 25%;
    }
    .\32xl\:offset-4 {
      margin-left: 33.3333%;
    }
    .\32xl\:offset-5 {
      margin-left: 41.6667%;
    }
    .\32xl\:offset-6 {
      margin-left: 50%;
    }
    .\32xl\:offset-7 {
      margin-left: 58.3333%;
    }
    .\32xl\:offset-8 {
      margin-left: 66.6667%;
    }
    .\32xl\:offset-9 {
      margin-left: 75%;
    }
    .\32xl\:offset-10 {
      margin-left: 83.3333%;
    }
    .\32xl\:offset-11 {
      margin-left: 91.6667%;
    }
    .\32xl\:order-1 {
      order: 1;
    }
    .\32xl\:order-2 {
      order: 2;
    }
    .\32xl\:order-3 {
      order: 3;
    }
    .\32xl\:order-4 {
      order: 4;
    }
    .\32xl\:order-5 {
      order: 5;
    }
    .\32xl\:order-6 {
      order: 6;
    }
    .\32xl\:order-7 {
      order: 7;
    }
    .\32xl\:order-8 {
      order: 8;
    }
    .\32xl\:order-9 {
      order: 9;
    }
    .\32xl\:order-10 {
      order: 10;
    }
    .\32xl\:order-11 {
      order: 11;
    }
    .\32xl\:order-12 {
      order: 12;
    }
  }
}
/* انیمیشن از پایین به بالا */
@layer utilities {
  @keyframes slide-up {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-down {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
    }
  }

  .animate-slide-up {
    animation: slide-up 0.3s ease-out both;
  }

  .animate-slide-down {
    animation: slide-down 0.3s ease-in both;
  }
}
